UI_Form/xml/Week.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Max (Natan) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="week">
		<xs:annotation>
			<xs:documentation>Рассписание</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="monday"/>
				<xs:element name="tuesday "/>
				<xs:element name="wednesday"/>
				<xs:element name="thursday"/>
				<xs:element name="friday"/>
				<xs:element name="saturday"/>
				<xs:element name="sunday"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
